/*  */
@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeueBold.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeueBold.woff") format("woff"), url("../font/HelveticaNeueBold.ttf") format("truetype"), url("../font/HelveticaNeueBold.svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeueBoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeueBoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeueBoldItalic.woff") format("woff"), url("../font/HelveticaNeueBoldItalic.ttf") format("truetype"), url("../font/HelveticaNeueBoldItalic.svg") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeueCondensedBold.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeueCondensedBold.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeueCondensedBold.woff") format("woff"), url("../font/HelveticaNeueCondensedBold.ttf") format("truetype"), url("../font/HelveticaNeueCondensedBold.svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 600;
  font-stretch: condensed;
}

@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeueMedium.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeueMedium.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeueMedium.woff") format("woff"), url("../font/HelveticaNeueMedium.ttf") format("truetype"), url("../font/HelveticaNeueMedium.svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeue.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeue.woff") format("woff"), url("../font/HelveticaNeue.ttf") format("truetype"), url("../font/HelveticaNeue.svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeueItalic.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeueItalic.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeueItalic.woff") format("woff"), url("../font/HelveticaNeueItalic.ttf") format("truetype"), url("../font/HelveticaNeueItalic.svg") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeueLight.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeueLight.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeueLight.woff") format("woff"), url("../font/HelveticaNeueLight.ttf") format("truetype"), url("../font/HelveticaNeueLight.svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeueLightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeueLightItalic.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeueLightItalic.woff") format("woff"), url("../font/HelveticaNeueLightItalic.ttf") format("truetype"), url("../font/HelveticaNeueLightItalic.svg") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeueThin.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeueThin.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeueThin.woff") format("woff"), url("../font/HelveticaNeueThin.ttf") format("truetype"), url("../font/HelveticaNeueThin.svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeueThinItalic.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeueThinItalic.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeueThinItalic.woff") format("woff"), url("../font/HelveticaNeueThinItalic.ttf") format("truetype"), url("../font/HelveticaNeueThinItalic.svg") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeueUltraLight.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeueUltraLight.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeueUltraLight.woff") format("woff"), url("../font/HelveticaNeueUltraLight.ttf") format("truetype"), url("../font/HelveticaNeueUltraLight.svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: "LESans";
  src: url("../font/HelveticaNeueUltraLightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../font/HelveticaNeueUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeueUltraLightItalic.woff") format("woff"), url("../font/HelveticaNeueUltraLightItalic.ttf") format("truetype"), url("../font/HelveticaNeueUltraLightItalic.svg") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
}

/*# sourceMappingURL=maps/font.css.map */
