#landing-sections {

    .landing-section {

        display: table;
        max-width: 100vw;
        max-height: 100vh;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        & > .inner {

            position: relative;
            width: 100%;
            height: auto;

            display: table-cell;
            vertical-align: middle;

            padding: 0 r(4rem);

            @include break( $point-1 ){
                padding: 0;
            };
        }
    }

    .landing-headline {
        position: relative;
        line-height: x(3);
        height: x(3);
        @include ff-sans-ultra-light;
        font-size: r(3.375rem);
        letter-spacing: .03em;
        margin: 0;
        pointer-events: none;

        @include break( $point-1 ) {
            font-size: r(2rem);
            line-height: r(2rem);
            height: auto;
            text-align: center;
        }

        &.align-center { text-align: center; }

        & > .text {
            position: relative;

            .line { display: inline; width: auto; }
            @include break( $point-1 ) {
                .line { display: block; width: 100%; }
            }

            .dot-end {
                position: relative;
                @include ff-sans-medium;
                font-size: .5em;
            }
        }
    }

    .landing-section > .inner {
        .btn {
            position: relative;
            left: r(.5);
            margin-top: x(1);
            @include s-translate-x( 0 );

            @include break( $point-1 ) {
                left: 50%;
                margin-top: x(.5);
                @include s-translate-x( -50% );
            }
        }
    }
}