@mixin restrick-layout {
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
}

#restrick-portrait-overlay {
    @include restrick-layout;
    z-index: 99998;
    background-color: $black;

    display: none;

    & > .inner {
        display: table-cell;
        vertical-align: middle;
    }

    .restrick-portrait-headline {
        text-align: center;
        margin: 0;
        @include ff-sans-medium;
    }

    .restrick-portrait-byline {
        text-align: center;
        margin: x(1) 0 0 0;
        @include ff-sans-medium;
    }
}